@font-face {
  font-family: Cyberpunk;
  src: url(fonts/Audiowide-Regular.ttf); 
}

@font-face {
  font-family: Oxanium;
  src: url(fonts/Oxanium-Medium.ttf);
}

@font-face {
  font-family: Cyberpunk2;
  src: url(fonts/Cyberpunk.ttf);
}



.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

body {
  font-family: Oxanium, "Open Sans", sans-serif;
  margin: 0;
}

.dark-mode {
  background-color: #333333;
  color: white;
}

.dark-mode > nav {
  background-color: #333333;
  color: white;
  border-bottom: 2px solid white;
}

.dark-mode > nav a {
  color: white;
}

section {
  margin: 0 16px;
}

section.full-screen {
  margin: 0;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 2px solid #222222;
  z-index: 99999;
}

nav a {
  color: #222222;
  text-decoration: none;
}

nav > #dark-mode-switch {
  display: flex;
  margin-left: auto;
  margin-right: 16px;
}

nav > #dark-mode-switch > p {
  margin-right: 8px;
}

nav > ul > li {
  display: inline-block;
}

nav > span > img {
  height: 32px;
  width: auto;
  padding: 8px;
}

nav > span {
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  color: white;
  background-color: #222222;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
  background-image: url("https://images5.alphacoders.com/106/1069405.jpg");
  background-position: top center;
  background-size: cover;
}



footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  animation: copyrightAnimation 2s linear infinite alternate;
}

@keyframes copyrightAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

header h1 {
  font-weight: bold;
  margin: 16px;
  animation-duration: 3s;
  animation-name: slidein;

  font-size: 50pt;

  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px -6px 0 #212121, 0px -6px 0 #212121, 0px 6px 0 #212121,
    0px 6px 0 #212121, -6px 0px 0 #212121, 6px 0px 0 #212121, -6px 0px 0 #212121,
    6px 0px 0 #212121, -6px -6px 0 #212121, 6px -6px 0 #212121,
    -6px 6px 0 #212121, 6px 6px 0 #212121, -6px 18px 0 #212121,
    0px 18px 0 #212121, 6px 18px 0 #212121, 0 19px 1px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(0, 0, 0, 0.1), 0 6px 3px rgba(0, 0, 0, 0.3),
    0 12px 6px rgba(0, 0, 0, 0.2), 0 18px 18px rgba(0, 0, 0, 0.25),
    0 24px 24px rgba(0, 0, 0, 0.2), 0 36px 36px rgba(0, 0, 0, 0.15);
}

header p {
  margin: 0;
  text-shadow: 2px 2px #222222;
}

img {
  width: 100%;
}

h1 {
  font-family: Cyberpunk2, sans-serif;
}

h2 {
  font-family: Cyberpunk, sans-serif;
  font-weight: 700;
  text-align: center;
}

#section-video .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#penguin-facts .flex-container figure {
  text-align: center;
}

#penguin-photos .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-auto-rows: 240px 240px 240px;
}

#penguin-photos .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container #item-1 {
  grid-column: 1 / 2 span;
  grid-row: 1;
}

fieldset {
  margin: 16px 0;
  border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

input[type="date"] {
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #333333;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.penguin-photo-item {
  filter: grayscale(100%);
  cursor: pointer;
}

.penguin-photo-item:hover {
  filter: none;
  transition-property: filter;
  transition-duration: 1s;
}

/* for tablet and desktop */
@media only screen and (min-width: 768px) {
  #penguin-facts > .flex-container {
    display: flex;
    align-items: center;
  }

  #penguin-facts > .flex-container figure {
    margin-left: auto;
  }

  #penguin-facts > .flex-container figure img {
    height: 400px;
  }

  #penguin-facts > .flex-container figcaption {
    text-align: center;
    margin-top: 16px;
  }

  #penguin-facts > .flex-container.row-reverse {
    flex-direction: row-reverse;
  }

  #penguin-facts > .flex-container.row-reverse p {
    margin-left: 32px;
  }

  #penguin-facts > .flex-container.row-reverse figure {
    margin-left: 40px;
    min-width: 320px;
  }

  iframe {
    max-width: 480px;
  }

  #penguin-photos .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: 320px 320px;
  }

  #penguin-photos .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-container #item-1 {
    grid-column: 1;
    grid-row: 1 / 2 span;
  }

  .grid-container #item-2 {
    grid-row: 1;
    grid-column: 2 / 3 span;
  }
}
